<h1>Comment nous contacter :</h1>
<p>Au tel : 06 XX XX XX XX</p>
<p>par email : potins@comère.io</p>
<p>ou si le virtuel vous met mal à l'aise, venez nous rencontrer à l'adresse suivante : 3615 rue des Comères, hacking town, 44110, unknown</p>